comfyui-frontend-package==1.14.5
torch
torchsde
torchvision
torchaudio
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.2.2
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp>=3.11.8
opencv-python==4.11.0.86
yarl>=1.18.0
insightface==0.7.3
onnxruntime==1.17.1
onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
pyyaml
Pillow
tqdm
diffusers
websocket_client
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
av
